<div fxLayout="row wrap" class="row" style="margin: 0">
   <div class="col-mat-9 col-lg-9" align="center">
      <div class="row">
         <div class="col-mat-8 col-lg-8">
            <div class="row">
               <div class="col-mat-4 col-lg-4">
                  <img style="    padding: 40px 10px;
                     width: 150px;
                     float: left;" src="assets/images/one-time.jpg" alt="" />
               </div>
            </div>
            <mat-card style="border-radius: 20px !important;     margin: 25px 0;">
               <mat-card-content>
                  <div class="row">
                     <div class="col-mat-4 col-lg-4">
                        <img style="padding: 25px 25px 25px 25px;" src="assets/images/facelogin.jpeg" alt="" />
                     </div>
                     <div class="col-mat-2 col-lg-2">
                     </div>
                     <div class="col-mat-6 col-lg-6 sign-in-via">
                        <h1>SIGN IN VIA<br>FACE RECOGNITION</h1>
                     </div>
                  </div>
               </mat-card-content>
            </mat-card>
            <mat-card style="border-radius: 20px !important;     margin: 25px 0; background: #3a41d0;">
               <mat-card-content>
                  <div class="row">
                     <div class="col-mat-4 col-lg-4">
                        <img style="padding: 25px 25px 25px 25px;" src="assets/images/biologin.png" alt="" />
                     </div>
                     <div class="col-mat-2 col-lg-2">
                     </div>
                     <div class="col-mat-6 col-lg-6 sign-in-via">
                        <h1 style="color: #fff;">SIGN IN VIA employee id</h1>
                     </div>
                  </div>
               </mat-card-content>
            </mat-card>
         </div>
         <div class="col-mat-4 col-lg-4">
            <div class="company-name">
               <p>Company Name</p>
            </div>
            <div class="MyContainer" (click)="navigateToRegisterPage()">
               <div class="centered">
                  <img style="padding: 25px 25px 25px 25px;" src="assets/images/register.png" alt="" />
                  <h1>Register<br>New User</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-mat-3 col-lg-3 " align="center" style="background: url('assets/images/face-recognition-attendance-system-mobile.jpg') no-repeat; border-radius: 50px;">
      
      <div class="login-centered" (click)="navigateToLoginPage()">
                  <h1>Login</h1>
               </div>
   </div>
</div>