<!-- <div fxLayout="row wrap" class="login-page">
<h2>Login</h2>
    <mat-form-field appearance="fill">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="User name" [(ngModel)]="username">
    </mat-form-field>
<nav mat-tab-nav-bar aria-label="weather navigation links">
    <a mat-tab-link
        [class.active]="loginMethod === 'camera'"
        (click)="loginMethod='camera'">
        Camera
    </a>
    <a mat-tab-link
        [class.active]="loginMethod === 'upload'"
        (click)="loginMethod='upload'">
        Upload
    </a>
    <a mat-tab-link
        [class.active]="loginMethod === 'password'"
        (click)="loginMethod='password'">
      Password
    </a>
  </nav>
<mat-card class="login-method camera" [hidden]="loginMethod!=='camera'">
    <mat-card-content>
        <img [hidden]="!imageUrl" [src]="imageUrl"/>	
        <app-camera-snapshot [imageUrl]="imageUrl" (imageCreated)="imageChanged($event)"></app-camera-snapshot>
    </mat-card-content>
</mat-card>
<mat-card class="login-method upload" [hidden]="loginMethod!=='upload'">
    <mat-card-content>
        <img [hidden]="!imageUrl" [src]="imageUrl"/>	
        <app-image-picker [imageUrl]="imageUrl" (imagePicked)="imageChanged($event)"></app-image-picker>	
    </mat-card-content>
</mat-card>
<mat-card class="login-method password" [hidden]="loginMethod!=='password'">
    <mat-card-content>	
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" [(ngModel)]="password">
            </mat-form-field>
    </mat-card-content>	
</mat-card>
<div class="buttons">
  <button mat-raised-button color="primary" (click)="login()">Login</button>
</div>
<p>
    Got no account ? Go and <a [routerLink]="['/register']">Register</a>!
</p>

</div> -->







 <div fxLayout="row wrap" class="row" style="margin: 0">
   <div class="col-mat-8 col-lg-8" align="center">
      <div class="row">
         <div class="col-mat-8 col-lg-8">
            <div class="row">
               <div class="col-mat-4 col-lg-4">
                  <img style="    padding: 40px 10px;
                     width: 150px;
                     float: left;" src="assets/images/one-time.jpg" alt="" />
               </div>
            </div>
         </div>
         <div class="col-mat-4 col-lg-4">
            <div class="company-name">
               <p>Company Name</p>
            </div>
         </div>
      </div>


<form>
<div class="row form">

<!-- <div class="col-mat-6 col-lg-6">
  <label for="Id" class="floatLabel">Id</label>
  <input class="textbox"  type="text" placeholder="Id" [(ngModel)]="user.employee_id" [ngModelOptions]="{standalone: true}">
</div> -->

   <div class="col-mat-6 col-lg-6">
  <label for="User Name" class="floatLabel">User Name</label>
  <input class="textbox"  type="text" placeholder="User name" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
</div>

<div class="col-mat-6 col-lg-6">
    <label for="Password" class="floatLabel">Password</label>
  <input class="textbox"  type="text" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
</div>
<div class="buttons" style="padding: 0px 10px;">
  <button class="submit-button" (click)="login()"><h1>Loging</h1></button>
</div>
</div>


</form>
   </div>
   <div class="col-mat-4 col-lg-4" align="center">
    <mat-card class="login-method camera" [hidden]="loginMethod!=='camera'">
    <mat-card-content>
        <img [hidden]="!imageUrl" [src]="imageUrl"/>    
        <app-camera-snapshot [imageUrl]="imageUrl" (imageCreated)="imageChanged($event)"></app-camera-snapshot>
    </mat-card-content>
</mat-card>
<mat-card class="login-method upload" [hidden]="loginMethod!=='upload'">
    <mat-card-content>
        <img [hidden]="!imageUrl" [src]="imageUrl"/>    
        <app-image-picker [imageUrl]="imageUrl" (imagePicked)="imageChanged($event)"></app-image-picker>    
    </mat-card-content>
</mat-card>
   </div>
</div>