.mat-card {
  background: white;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none !important;
  border: 1px solid #dfe8f1;
  border-radius: 0px !important;

  // box-shadow: 0 2px 2px -1px rgba(152, 162, 179, 0.3), 0 1px 5px -2px rgba(152, 162, 179, 0.3) !important;
    background-color: #FFF;
    border: 1px solid #D3DAE6 !important;
    // border-radius: 4px !important;
}

.ngx-datatable.material .datatable-footer .datatable-pager a {
    height: 22px;
    min-width: 24px;
    line-height: 22px;
    padding: 0 6px;
    border-radius: 0px !important;
    margin: 6px 3px;
    text-align: center;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    vertical-align: bottom;
}

.mat-card {
  font-family: century gothic, "Helvetica Neue", sans-serif;
}

.mat-card.p-0 .mat-card-content {
  padding: 0;
}

.mat-card-title {
  font-weight: 600;
  line-height: 1.5;
  color: #424242;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px !important;
}


.mat-card.p-0 .mat-card-title .mat-divider {
    border-top-color: #dfe8f1;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #006bb4 !important;
    color: white;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #006bb4 !important;
}

.mat-flat-button.mat-primary, 
.mat-raised-button.mat-primary, 
.mat-fab.mat-primary, 
.mat-mini-fab.mat-primary {
    background-color: #006bb4 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #006bb4 !important;
}

.mat-box-shadow {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mat-flat-button.mat-primary[disabled],.mat-flat-button.mat-accent[disabled], 
 .mat-flat-button.mat-warn[disabled], 
  .mat-flat-button[disabled][disabled],
   .mat-raised-button.mat-primary[disabled],
   .mat-raised-button.mat-accent[disabled],
    .mat-raised-button.mat-warn[disabled], 
    .mat-raised-button[disabled][disabled],
     .mat-fab.mat-primary[disabled],
      .mat-fab.mat-accent[disabled],
       .mat-fab.mat-warn[disabled],
       .mat-fab[disabled][disabled], 
       .mat-mini-fab.mat-primary[disabled],
        .mat-mini-fab.mat-accent[disabled],
         .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
}