.mat-drawer-container {
  background: transparent !important;
}

.egret-blue .mat-card:not([class*='mat-elevation-z']) {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.12);
}


.title {
  padding: 0 10px 0 5px;
  width: 100%;
  text-align: center;
}

.title span { 
  max-width: 100%;
    margin: 0;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    word-wrap: normal !important;
    color: #1a1c21 !important;
    line-height: 1.5 !important;
    line-height: 1.5rem;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    flex-grow: 1;
    text-decoration: underline;
}

.mb {
  margin-bottom: 20px;
}


//-----------------------------Search------------------------------------//
.search {
  padding: 0 10px 0 0px;
  width: 100%;
  text-align: center;    
  margin: 4px;
}

.kuiLocalSearchAssistedInput {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    position: relative;
}

.euiFormControlLayout--group {
    background-color: #fbfcfd;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    /* -webkit-box-shadow: 0 1px 1px -1px rgba(152, 162, 179, 0.2), 0 3px 2px -2px rgba(152, 162, 179, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 1px 1px -1px rgba(152, 162, 179, 0.2), 0 3px 2px -2px rgba(152, 162, 179, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: background-image 150ms ease-in, background-size 150ms ease-in, background-color 150ms ease-in, -webkit-box-shadow 150ms ease-in;
    transition: background-image 150ms ease-in, background-size 150ms ease-in, background-color 150ms ease-in, -webkit-box-shadow 150ms ease-in;
    transition: box-shadow 150ms ease-in, background-image 150ms ease-in, background-size 150ms ease-in, background-color 150ms ease-in;
    transition: box-shadow 150ms ease-in, background-image 150ms ease-in, background-size 150ms ease-in, background-color 150ms ease-in, -webkit-box-shadow 150ms ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1px;
}

.euiFormControlLayout--fullWidth {
    max-width: 100%;
}
.euiFormControlLayout {
    // max-width: 400px;
    width: 100%;
    height: auto;
}

.euiFormControlLayout--group .euiFormControlLayout__childrenWrapper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.euiFormControlLayout__childrenWrapper {
    position: relative;
}

.euiFieldText--inGroup:not(:read-only) {
    height: 38px;
}

.euiFieldText--inGroup {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.euiFieldText--fullWidth {
    max-width: 100%;
}
.euiFieldText {
    // max-width: 400px;
    width: 100%;
    height: 40px;
    background-color: #fbfcfd;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    -webkit-box-shadow: 0 1px 1px -1px rgba(152, 162, 179, 0.2), 0 3px 2px -2px rgba(152, 162, 179, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px -1px rgba(152, 162, 179, 0.2), 0 3px 2px -2px rgba(152, 162, 179, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: background-image 150ms ease-in, background-size 150ms ease-in, background-color 150ms ease-in, -webkit-box-shadow 150ms ease-in;
    transition: background-image 150ms ease-in, background-size 150ms ease-in, background-color 150ms ease-in, -webkit-box-shadow 150ms ease-in;
    transition: box-shadow 150ms ease-in, background-image 150ms ease-in, background-size 150ms ease-in, background-color 150ms ease-in;
    transition: box-shadow 150ms ease-in, background-image 150ms ease-in, background-size 150ms ease-in, background-color 150ms ease-in, -webkit-box-shadow 150ms ease-in;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    letter-spacing: -.005em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-size: 14px;
    line-height: 1em;
    color: #343741;
    border: none;
    border-radius: 0;
    padding: 12px;
}
//-----------------------------------------------------------------------------------//

.scroll-down{
    padding: 10px;
    position: relative;
    height: calc(100vh - 330px);
    overflow-y: scroll;
     margin: 5px;
    // height: 100%;
    padding: 5px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none !important;
    // border: 1px solid #ddd;
}

//------------------------------------------//