.header-topnav {
  font-family: Red Hat Display !important;font-weight: 500;
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
  top: 0;
  z-index: 999;
  .container {
    padding: 0;
  }
  .topbar-branding {
    float: left;
    height: 48px;
    padding: 5px;
    margin: 0 8px;
    img {
      height: 40px;
      width: auto;
    }
  }
  .topnav {
    // margin-left: -19px;
    display: flex;
    align-items: center;
  }
  .header-topnav-right {
    float: right;
    height: 48px;
    display: flex;
    align-items: center;
    padding-right: 0.67rem;
  }
}

@media (max-width: 959px) {
  .header-topnav-right {
    position: absolute;
    right: 6px;
    top: 0;
  }
}

[dir="rtl"] {
  .header-topnav {
    .topnav {
      flex-direction: row-reverse;
    }
  }
}
