@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
//Red Hat
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
//Muli

$custom-typography: mat-typography-config(
  
  // $font-family: ' Red Hat Display !important'
  $font-family: 'Muli,"Helvetica Neue",Arial,sans-serif'
  
);
@include mat-core($custom-typography);

// Keep atleast one file// $font-family: 'century gothic, "Helvetica Neue", sans-serif !important'
@import "egret-navy";
@import "egret-blue";
@import "egret-dark-purple";
@import "egret-dark-pink";

$background: map-get($egret-theme, background);
$foreground: map-get($egret-theme, foreground);
