






 <div fxLayout="row wrap" class="row" style="margin: 0">
   <div class="col-mat-8 col-lg-8" align="center">
      <div class="row">
         <div class="col-mat-8 col-lg-8">
            <div class="row">
               <div class="col-mat-4 col-lg-4">
                  <img style="    padding: 40px 10px;
                     width: 150px;
                     float: left;" src="assets/images/one-time.jpg" alt="" />
               </div>
            </div>
         </div>
         <div class="col-mat-4 col-lg-4">
            <div class="company-name">
               <p>Company Name</p>
            </div>
         </div>
      </div>


<form>
<div class="row form">

<div class="col-mat-6 col-lg-6">
  <label for="Id" class="floatLabel">Id</label>
  <input class="textbox"  type="text" placeholder="Id" [(ngModel)]="user.employee_id" [ngModelOptions]="{standalone: true}">
</div>

   <div class="col-mat-6 col-lg-6">
  <label for="User Name" class="floatLabel">User Name</label>
  <input class="textbox"  type="text" placeholder="User name" [(ngModel)]="user.employee_name" [ngModelOptions]="{standalone: true}">
</div>

<div class="col-mat-6 col-lg-6">
    <label for="Email" class="floatLabel">Email</label>
  <input class="textbox"  type="text" placeholder="Email" [(ngModel)]="user.email_id" [ngModelOptions]="{standalone: true}">
</div>

<div class="col-mat-6 col-lg-6">
    <label for="Number" class="floatLabel">Number</label>
  <input class="textbox"  type="text" placeholder="Number" [(ngModel)]="user.contact_number" [ngModelOptions]="{standalone: true}">
</div>

<div class="col-mat-6 col-lg-6">
<label for="Designation" class="floatLabel">Designation</label>
  <input class="textbox"  type="text" placeholder="Designation" [(ngModel)]="user.designation" [ngModelOptions]="{standalone: true}">
</div>

<div class="col-mat-6 col-lg-6">
    <label for="Password" class="floatLabel">Password</label>
  <input class="textbox"  type="text" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
</div>
<div class="buttons" style="padding: 0px 10px;">
  <button class="submit-button" (click)="register()"><h1>Register Your Face</h1></button>
</div>
</div>


</form>
   </div>
   <div class="col-mat-4 col-lg-4" align="center">
    <mat-card class="login-method camera" [hidden]="registerMethod!=='camera'">
    <mat-card-content>
        <img [hidden]="!imageUrl" [src]="imageUrl"/>    
        <app-camera-snapshot [imageUrl]="imageUrl" (imageCreated)="imageChanged($event)"></app-camera-snapshot>
    </mat-card-content>
</mat-card>
<mat-card class="login-method upload" [hidden]="registerMethod!=='upload'">
    <mat-card-content>
        <img [hidden]="!imageUrl" [src]="imageUrl"/>    
        <app-image-picker [imageUrl]="imageUrl" (imagePicked)="imageChanged($event)"></app-image-picker>    
    </mat-card-content>
</mat-card>
   </div>
</div>





<!-- <div fxLayout="row wrap">

<h2>Register</h2> -->
<!-- <div class="buttons">
  <button mat-raised-button color="primary" (click)="register()">Register</button>
</div> -->
<!-- <p>
    Already got an account ? Go and <a [routerLink]="['/login']">Login</a>!
</p>

</div> -->