
/deep/ .mat-card-content {
    font-size: 16px !important;
}

/deep/ .mat-card-title {
    font-size: 16px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.pageContent {
    width: 100%;
    /*max-width: 700px;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4f6f8;
}

.app-icon-button {
    padding-top: 11px;
}