<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <!-- sidenav content -->
      <mat-nav-list>
        <mat-list-item (click)="navigateTo(['register'])">
          <a mat-line >Register</a>
        </mat-list-item>
        <mat-list-item (click)="navigateTo(['login'])">
          <a mat-line >Login</a>
        </mat-list-item>
        <mat-list-item (click)="navigateTo(['home'])">
          <a mat-line >Home</a>
        </mat-list-item>
        <mat-list-item (click)="logout()">
          <a mat-line >Logout</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  
   <mat-toolbar color="primary">
      <button class="app-icon-button" (click)="sidenav.toggle()">
        <i class="material-icons app-toolbar-menu">menu</i>
      </button>
    <a href=""(click)="navigateToHomePage()">
      {{title}}
      </a>
      <span class="app-toolbar-filler"></span>
    </mat-toolbar>
    <div class="pageContent">
      <router-outlet></router-outlet>
    </div>
    <app-block-ui #blockUI></app-block-ui>
  </mat-sidenav-container>