<div class="camera-snapshot" (click)="getCameraImage()">
  <mat-icon [class.small]="imageUrl">camera</mat-icon>
  <canvas width="500" height="380" #canvas hidden="true"></canvas>
  <video [hidden]="imageUrl" width="640" height="495" autoplay #video allFaces></video>
</div> 