.camera-snapshot {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

canvas {
    display: none;
  }
  
  .container {
    text-align: center;
  }
  
  h2 {
    text-align: center;
    margin-top: 50px;
  }
  
  .photo {
    display: inline-block;
    margin: 30px;
  }
  
  #video {
    width: 80%;
    max-width: 480px;
  }

::ng-deep .cdk-overlay-pane {
    pointer-events: none !important;
}