<mat-card class="login-method">
  <mat-card-title>Update login image</mat-card-title>
  <nav mat-tab-nav-bar aria-label="weather navigation links">
    <a mat-tab-link
        [class.active]="uploadMethod === 'camera'"
        (click)="uploadMethod='camera'">
        Camera
    </a>
    <a mat-tab-link
        [class.active]="uploadMethod === 'upload'"
        (click)="uploadMethod='upload'">
        Upload
    </a>
  </nav>
  <mat-card-content>
    <app-camera-snapshot [hidden]="uploadMethod !== 'camera'" [imageUrl]="imageUrl" (imageCreated)="imageChanged($event)"></app-camera-snapshot>
    <app-image-picker [hidden]="uploadMethod !== 'upload'" [imageUrl]="imageUrl" (imagePicked)="imageChanged($event)"></app-image-picker>	
     <img [hidden]="!imageUrl" [src]="imageUrl"/>	
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="updateImage()" color="primary">Update image</button>
  </mat-card-actions>
</mat-card>